.speech{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color:black;
}
.direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    color: black;
    background-color: aqua;
}
.direction:hover{
    background-color: antiquewhite;
}
.nora{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.helmer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blue;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
}
th{
    color: green;
}
td{
    color:brown;
}
tr:nth-child(odd) {
    background-color:bisque;
  }
.helmer:hover{
    text-shadow:4px 4px 5px red;
}
.nora:hover{
    text-shadow:4px 4px 5px blue;
}
ul {
    /* remove these */
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    ul li {
    float:left; /* line up horizontally */
    color:green;
    background-color:greenyellow
    }
    ul a {
    display:block;
    padding:8px
    }
    /* on hover change the link color*/
    ul a:hover {
    background-color:black;
    color:white;
    }
